## Basic Scala for Spark

In [1]:
println("Hello Scala")

Intitializing Scala interpreter ...

Spark Web UI available at http://single.example.org:4042
SparkContext available as 'sc' (version = 3.0.1, master = local[*], app id = local-1606653864000)
SparkSession available as 'spark'

Hello Scala

### SparkContext information

In [2]:
sc

res1: org.apache.spark.SparkContext = org.apache.spark.SparkContext@25925611

In [3]:
sc.version

res2: String = 3.0.1

In [4]:
sc.master

res3: String = local[*]

In [5]:
sc.isLocal

res4: Boolean = true

In [6]:
spark.sparkContext.appName

res5: String = spylon-kernel

### Comments

In [7]:
// Hello Data Nebulae - This is single line comment

In [8]:
/* Hello World
   This is multi-line comment
   Data Nebulae
*/

### Variables

In [9]:
// mutable
var myStr :String = "Hello"

myStr: String = Hello

In [10]:
myStr = "Scala"  // ok

myStr: String = Scala

In [11]:
// immutable
val myData :Int = 7

myData: Int = 7

In [12]:
myData = 10  // error

<console>: 26: error: reassignment to val

In [13]:
val myNumber :Int = 10

myNumber: Int = 10

In [15]:
val myFlag = true

myFlag: Boolean = true

In [16]:
val (x, y) = (1, 5)

x: Int = 1
y: Int = 5

In [17]:
var (x, y, z) = (1, 2, "Hello")

x: Int = 1
y: Int = 2
z: String = Hello

### Print to Screen

In [18]:
print(x,y)
print(z)

(1,2)Hello

In [19]:
(x,y,z)

res9: (Int, Int, String) = (1,2,Hello)

In [20]:
println(x)

1

In [21]:
println(s"Value of x is: $x")

Value of x is: 1

### Range

In [22]:
(1 to 5)

res12: scala.collection.immutable.Range.Inclusive = Range 1 to 5

In [23]:
// Descending range
(5 to 1 by -1)

res13: scala.collection.immutable.Range = Range 5 to 1 by -1

In [24]:
// Descending ragne with step 2
(5 to 1 by -2)

res14: scala.collection.immutable.Range = Range 5 to 1 by -2

In [25]:
// Descending ragne with step 2
(5 to 1 by -2).foreach(println)

5
3
1

In [26]:
// Create a range with step-size and print for each element
(1 to 5).foreach(print)

12345

### Text

In [27]:
// Strings are surrounded by double quotes 
"Hello Scala"

res17: String = Hello Scala

In [28]:
// Characters with single quotes
'H'

res18: Char = H

In [29]:
// Apply string method
"Hello Scala".length

res19: Int = 11

In [30]:
"Hello Scala".size

res20: Int = 11

In [31]:
"Hello Scala".toUpperCase

res21: String = HELLO SCALA

In [32]:
"Hello Scala".contains('H')

res22: Boolean = true

In [33]:
"Hello Scala".take(3)

res23: String = Hel

In [34]:
"Hello Scala".drop(3)

res24: String = lo Scala

In [35]:
"Hello Scala".substring(3,6)

res25: String = "lo "

In [36]:
"Hello Scala".replace("H","5")

res26: String = 5ello Scala

In [37]:
19.toHexString

res27: String = 13

In [38]:
// Apply char method
'A'.toInt

res28: Int = 65

In [39]:
'c'.isDigit

res29: Boolean = false

### Array

In [40]:
val numbers = Array(1, 2, 3, 4)

numbers: Array[Int] = Array(1, 2, 3, 4)

In [41]:
// read the first element
val first = numbers(0)

first: Int = 1

In [42]:
// replace the 4th array element with 100
numbers(3) = 100 
numbers

res30: Array[Int] = Array(1, 2, 3, 100)

In [43]:
// Using tuple format to get array data 
val arr = Array("Hello", "World", "Scala", "Spark")
(arr(0),arr(3))

arr: Array[String] = Array(Hello, World, Scala, Spark)
res31: (String, String) = (Hello,Spark)

In [44]:
// Creating the array of 2 rows and 2 columns 
val myarr= Array.ofDim[Int](2, 2)

myarr: Array[Array[Int]] = Array(Array(0, 0), Array(0, 0))

In [45]:
// Assigning the values 
myarr(0)(0) = 2                 
myarr(0)(1) = 7
myarr(1)(0) = 3
myarr(1)(1) = 4

In [46]:
myarr

res33: Array[Array[Int]] = Array(Array(2, 7), Array(3, 4))

In [47]:
// Creating 2D-array with initailization
var myarr2 = Array(Array(0, 2, 4, 6, 8), 
                   Array(1, 3, 5, 7, 9))

myarr2: Array[Array[Int]] = Array(Array(0, 2, 4, 6, 8), Array(1, 3, 5, 7, 9))

In [48]:
myarr2(1)

res34: Array[Int] = Array(1, 3, 5, 7, 9)

In [49]:
myarr2(1)(3)

res35: Int = 7

### List

In [50]:
// List of Strings
val fruit: List[String] = List("apples", "oranges", "pears")

fruit: List[String] = List(apples, oranges, pears)

In [51]:
// List of Integers
val nums: List[Int] = List(1, 2, 3, 4)

nums: List[Int] = List(1, 2, 3, 4)

In [52]:
// Empty List
val empty: List[Nothing] = List()

empty: List[Nothing] = List()

In [53]:
// Two dimensional list
var dim: List[List[Int]] =
    List(
        List(1, 2, 3),
        List(4, 5, 6),
        List(7, 8, 9)
    )

dim: List[List[Int]] = List(List(1, 2, 3), List(4, 5, 6), List(7, 8, 9))

In [54]:
fruit(0)

res36: String = apples

In [55]:
nums(2)

res37: Int = 3

In [56]:
dim(1)(1)

res38: Int = 5

### Tuple

In [57]:
val name = (15, "Earth", true)

name: (Int, String, Boolean) = (15,Earth,true)

In [58]:
name._1

res39: Int = 15

In [59]:
name._2

res40: String = Earth

In [60]:
var data = (15, "Earth", ("sub1" ,33, false))

data: (Int, String, (String, Int, Boolean)) = (15,Earth,(sub1,33,false))

In [61]:
data._3

res41: (String, Int, Boolean) = (sub1,33,false)

In [62]:
data._3._3

res42: Boolean = false

In [63]:
data._3._3 = true

<console>: 26: error: reassignment to val

### Map

In [64]:
val m = Map("one" -> 1, "two" -> 2 )

m: scala.collection.immutable.Map[String,Int] = Map(one -> 1, two -> 2)

In [65]:
m("one")

res43: Int = 1

In [66]:
m("two") + 3

res44: Int = 5

In [67]:
val nestedmap = Map("one" -> Map("s1" -> "sub1",
                                 "s2" -> "sub2"
                                )
                    )

nestedmap: scala.collection.immutable.Map[String,scala.collection.immutable.Map[String,String]] = Map(one -> Map(s1 -> sub1, s2 -> sub2))

In [68]:
nestedmap("one")

res45: scala.collection.immutable.Map[String,String] = Map(s1 -> sub1, s2 -> sub2)

In [69]:
nestedmap("one")("s2")

res46: String = sub2

### Set

In [70]:
// Immutable set
val s = Set("Apple", "Orange", "Banana")

s: scala.collection.immutable.Set[String] = Set(Apple, Orange, Banana)

In [71]:
s("Apple")

res47: Boolean = true

In [72]:
s("Grapes")

res48: Boolean = false

In [73]:
// Mutable set
var s2 = Set(10, 100, 1000, 10000, 100000)

s2: scala.collection.immutable.Set[Int] = Set(10, 100000, 10000, 1000, 100)

In [74]:
s2+=1

In [75]:
s2

res50: scala.collection.immutable.Set[Int] = Set(10, 1, 100000, 10000, 1000, 100)

In [76]:
s2-=100

In [77]:
s2

res52: scala.collection.immutable.Set[Int] = Set(10, 1, 100000, 10000, 1000)

### if Statement

In [78]:
// declare three variables 
var a: Int = 80
var b: Int = 50
var c: Int = 100

a: Int = 80
b: Int = 50
c: Int = 100

In [79]:
// condition_1 
if (a > b)
{ 
    // condition_2 
    if (a > c) 
    { 
        println("a is largest")
    } 
    else
    { 
        println("c is largest")
    } 
}

c is largest

### while, do...while Statements

In [80]:
var a = 5
// loop execution 
while (a > 0) 
{ 
    println("a is : " + a) 
    a -= 1 
}

a is : 5
a is : 4
a is : 3
a is : 2
a is : 1

a: Int = 0

In [81]:
var a = 5 
// loop execution 
do
{ 
    println("a is : " + a) 
    a -= 1 
} while (a > 0)

a is : 5
a is : 4
a is : 3
a is : 2
a is : 1

a: Int = 0

### for Statement

In [82]:
val ranklist = List(1, 2, 3, 4, 5)

ranklist: List[Int] = List(1, 2, 3, 4, 5)

In [83]:
// For loop with collection 
for( rank <- ranklist){ 
    println("Book rank is : " +rank); 
}

Book rank is : 1
Book rank is : 2
Book rank is : 3
Book rank is : 4
Book rank is : 5

### Function

In [84]:
// function definition
def functionToAdd(a:Int, b:Int) : Int = { 
    var sum:Int = 0
    sum = a + b 

    // returning the value of sum 
    return sum 
}

functionToAdd: (a: Int, b: Int)Int

In [85]:
functionToAdd(5,3)

res57: Int = 8

In [86]:
def DataCounts(i: Int) { 
    var total: Int = 0
    var times3: Int = 0
    
    total = i + i
    times3 = i * 3
    
    println(s"${i} + ${i} = ${total}") 
    println(s"${i} * 3 = ${times3}") 
}

DataCounts: (i: Int)Unit

In [87]:
// function call 
DataCounts(5)

5 + 5 = 10
5 * 3 = 15

### Lambda Expression

In [88]:
// lambda expression 
val ex1 = (x:Int) => x + 2

ex1: Int => Int = $Lambda$2195/0x0000000840d09040@5a97467

In [89]:
// with multiple parameters 
val ex2 = (x:Int, y:Int) => x * y

ex2: (Int, Int) => Int = $Lambda$2196/0x0000000840d08840@742a06fb

In [90]:
ex1(7)

res59: Int = 9

In [91]:
ex2(2, 3)

res60: Int = 6

In [92]:
// list of numbers 
val lst = List(1, 1, 2, 3, 5, 8)

lst: List[Int] = List(1, 1, 2, 3, 5, 8)

In [93]:
// squaring each element of the list 
val res = lst.map( (x:Int) => x * x )

res: List[Int] = List(1, 1, 4, 9, 25, 64)

In [94]:
// alternative version
//val res = lst.map( x=> x * x )

In [95]:
println(res)

List(1, 1, 4, 9, 25, 64)

In [96]:
def transform(x:Int, func:Int => Double) : Double = {
    return func(x) 
}

transform: (x: Int, func: Int => Double)Double

In [97]:
// lambda is passed to func:Int => Double 
val res = transform(2, r => 3.14 * r * r) 
println(res)

12.56

res: Double = 12.56

### Class

In [98]:
class Dog(breed: String) { 
    var br: String = breed 
        
    def bark() : String = {
        eat("meat")
        return "Woof woof!"
    }
    
    def legs = "Four"
    
    private def eat(food: String) : Unit = {
        println(s"I am eating $food") 

//    private def eat(food: String) {
//        println(s"I am eating $food") 
    }
}

defined class Dog

In [99]:
val myDog = new Dog("Akita")

myDog: Dog = Dog@54ca4f47

In [100]:
myDog.br

res64: String = Akita

In [101]:
myDog.bark()

I am eating meat

res65: String = Woof woof!

In [102]:
myDog.legs

res66: String = Four